body {
  font-family: var(--inter);
  padding: 1em 2em;
}

h1 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
}

svg {
  display: block;
  margin: 0 auto;

  .cell:hover {
    stroke: black;
    stroke-width: 1px;
  }
}

#heat-map {
  width: 1200px;
}

.heat-map-wrapper {
  overflow-x: auto;
  border-right: 1px solid #666;
  border: 1px solid #666;
  border-top: none;
  padding-bottom: 1em;
}

#legend {
  width: 260px;
}

.legend-wrapper {
  border: 1px solid #666;
  border-bottom: none;
  padding-top: 1em;
}

#tooltip {
  polygon {
    fill: white;
    stroke: #444;
    stroke-width: 1px;
  }

  tspan:first-of-type {
    font-size: 0.57em;
    font-weight: 500;
  }

  tspan {
    font-size: 0.7em;
  }
}

.data-table-wrapper {
  padding: 1em 0;
  overflow-x: auto;
  border-right: 1px solid #666;
  border: 1px solid #666;
  border-top: none;
  position: relative;
  position: relative;
}

table {
  border-spacing: 0;
  font-size: 0.6em;
  margin: 0 auto;

  td,
  th {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
  }

  thead th {
    border-top: 1px solid #ccc;
  }
  thead th,
  td {
    padding: 0.2em;
    text-align: right;
  }

  th {
    background: #eee;
  }
  tbody th,
  thead th:first-of-type {
    position: sticky;
    left: 0;
    border-left: 1px solid #ccc;
  }
  thead th:first-of-type {
    background: white;
    border-top: none;
    border-left: none;
  }
}
